extends ../layout/index

block content
    div.py-10
        h1.text-center.text-4xl.my-10.font-extrabold.text-azul-rey Byte
            span.font-normal.text-lion  Bus
        h2.text-center.text-3xl.font-extrabold.text-raisin-black #{pagina}
            if errors
                div(class="max-w-md mx-auto my-10")
                    each error in errors
                        p(class="bg-red-500 text-white uppercase text-xs text-center p-2 mb-1 font-bold error-message")
                            span(class="mr-2") ¡Error!
                            = error.msg
        script.
            setTimeout(function() {
                const errorMessages = document.querySelectorAll(".error-message");
                errorMessages.forEach(function(errorMessage) {
                    errorMessage.style.display = "none";
                });
            }, 10000); // Ocultar los mensajes de error después de 5 segundos 

        .mt-8.mx-auto.max-w-md
            .bg-azul-rey.py-8.px-4.shadow-xl.rounded-xl
                form.space-y-5(action="" method="POST" novalidate)
                    div
                        label.block.text-sm.uppercase.text-white.mb-3.font-bold correo Electronico:
                        input#correoElectronico.w-full.px-3.py-2.border.border.golden-brown.rounded-sm.place-holder-white.bg-white(placeholder="user@domain.com" name="correoElectronico" value=user ? user.correoElectronico : '' required)
                    div.flex.items-center.justify-between
                        a.text-xs.text-white(href="/user/login" class="hover:underline decoration-4 decoration-azul-chicle") If you have an account, please Login 
                        a.text-xs.text-white(href="/user/register" class="hover:underline decoration-4 decoration-azul-chicle") New User? , Create an account

                    div
                        input#button_password.w-full.bg-golden-brown(class="text-white font-bold py-3 rounded-xl bg-azul-fuerte hover:bg-azul-chicle cursor-pointer" type="submit" value="recuperarla")