extends ../layout/index 

block content 
  nav(class="w-full h-24 bg-sky-800")
    div(class="flex-wrap-reverse text-center ")
      a(href="auth/login") ayuda 
      a(href="auth/") Viajes 
      a(href="") Inicio 