extends ../layout/index

block content
  section(class="flex justify-center items-center w-full h-90 mb-20")
    div(class=" h-1/2 w-2/3 bg-azul-rey p-5 rounded-2xl bg-opacity-60 mt-10 flex justify-center")
      form(class="mt-5 w-auto")
        input#origen.px-3.py-2.border.border.golden-brown.rounded-sm.place-holder-white-50.bg-white.mr-1.ml-1(class="block md:w-96 " placeholder="Origen" name="origen")
        br
        input#destino.px-3.py-2.border.border.golden-brown.rounded-sm.place-holder-white-50.bg-white.mr-1.ml-1(class="md:w-96 mt-5" placeholder="Destino" name="Destino" )
        br
        input#fecha_salida.px-3.py-2.border.border.golden-brown.rounded-sm.place-holder-white.bg-white.mr-1.ml-1(class="md:w-96 mt-5" type="date" placeholder="Fecha Salida" name="fecha_salida")
        input#fecha_llegada.px-3.px-3.py-2.border.border.golden-brown.rounded-sm.place-holder-white.bg-white.mr-1.ml-1(class="md:w-96 mt-5" type="date" placeholder="Fecha Regreso (opcional)" name="fecha_regreso")
        br
        input#buscar.w-full.bg-golden-brown(class="text-white font-bold py-3 rounded-xl mt-5 bg-azul-fuerte hover:bg-azul-chicle cursor-pointer md:w-96" type="submit" value="Buscar") 
      img(src="/public/img/mexico_publicidad.jpg" alt="")
  div(class="border-solid mt-10 ml-20 mr-20  border-azul-rey w-150 h-60 border-4 shadow-lg flex justify-start")
    img(src="/public/img/Pachuca.jpg" class="w-150 h-auto" alt="")
    p(class="h-full text-center text-lg w-full") Viaje de pachuca a mexico 
