doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //La forma de agregar una variable a el titulo es #{} ya que de otra forma no sera aceptado
    title Byte Bus | #{pagina}
    link(rel='icon' href='/img/logo_escrito.png' type='image/x-icon')
    link(rel="stylesheet" href="/css/app.css")
    link(rel="stylesheet" href="/css/autobus.css")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
  body.min-h-screen.bg-bitterr
    if showHeader
      include nav
    main
      block content
    if showFooter 
      include pie

