doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //La forma de agregar una variable a el titulo es #{} ya que de otra forma no sera aceptado
    title Byte Bus | #{page}
    link(rel="stylesheet", href="/css/app.css")
  body.min-h-screen.bg-bitterr
    if showHeader
      include nav
    main
      block content
    if showFooter 
      include pie

