header(class="bg-blue-600 p-4")
  div(class="container flex mx-auto justify-between items-center")
    h1(class="text-salmon text-2xl font-extrabold text-center") Real 
      span(class="font-normal text-white") Estate
    nav(class="flex gap-3 text-white my-5 text-sm md:flex md:items-center font-bold ")
      a(href="" class="bg-azul-300 py-2 px-10 rounded-full hover:bg-salmon hover:scale-105 shadow-lg shadow-gray-600/80 activate:scale-95") Properties 
      a(href="" class="bg-azul-300 py-2 px-10 rounded-full hover:bg-salmon hover:scale-105 shadow-lg shadow-gray-600/80 activate:scale-95") Profile
      a(href="" class="bg-azul-300 py-2 px-10 rounded-full hover:bg-salmon hover:scale-105 shadow-lg shadow-gray-600/80 activate:scale-95") Logout

block content