doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //La forma de agregar una variable a el titulo es #{} ya que de otra forma no sera aceptado
    title Byte Bus | #{page}
    link(rel="stylesheet" href="/css/app.css")
  body.min-h-screen.bg-bitterr
    main
      //TODO:barra de navegarcion 
      header
        nav.bg-blue-500.text-white.py-2
          div.flex.items-center.justify-between.max-w-5xl.mx-auto
            div.logo
              img(BYTE_BUS="public/img/logo.png" alt="")
            a(href="/login" class="ml-4 hover:bg-blue-900 hover:text-yellow-300") Iniciar sesion
            a(href="#" class="ml-4 hover:bg-blue-900 hover:text-yellow-300") Inicio
            a(href="#" class="ml-4 hover:bg-blue-900 hover:text-yellow-300") Viajes
            a(href="#" class="ml-4 hover:bg-blue-900 hover:text-yellow-300") Ayuda
            block content