footer(class="flex justify-evenly items-center mt-10 bg-azul-rey")
  .mb-4.mt-5.mb-10
    h2.text-xl.font-semibold.text-white Mi Empresa
    ul.mt-2.text-white
      li.mt-2
        a(href='#') Acerca de Nosotros
      li.mt-2
        a(href='#') Servicios
      li.mt-2
        a(href='#') Blog
  .mb-4.mt-5.mb-10
    h2.text-xl.font-semibold.text-white Enlaces Útiles
    ul.mt-2.text-white
      li.mt-2
        a(href='#') Términos de Servicio
      li.mt-2
        a(href='#') Política de Privacidad
      li.mt-2
        a(href='#') Contáctanos
  .mb-4.mt-5.mb-10
    h2.text-xl.font-semibold.text-white Síguenos
    ul.mt-2.text-white
      li.mt-2
        a(href='#') Facebook
      li.mt-2
        a(href='#') Twitter
      li.mt-2
        a(href='#') Instagram
.mt-1.border-t.border-gray-300.py-4.text-center.text-black
      p Derechos de autor © 2023 Byte Bus. Todos los derechos reservados.
block pie