
footer.footer
  .container.mx-auto.px-4
    .grid.grid-cols-1.sm:grid-cols-2.md:grid-cols-3
      .mb-4
        h2.text-xl.font-semibold.text-gray-800 Mi Empresa
        ul.mt-2.text-gray-600
          li.mt-2
            a(href='#') Acerca de Nosotros
          li.mt-2
            a(href='#') Servicios
          li.mt-2
            a(href='#') Blog
      .mb-4
        h2.text-xl.font-semibold.text-gray-800 Enlaces Útiles
        ul.mt-2.text-gray-600
          li.mt-2
            a(href='#') Términos de Servicio
          li.mt-2
            a(href='#') Política de Privacidad
          li.mt-2
            a(href='#') Contáctanos
      .mb-4
        h2.text-xl.font-semibold.text-gray-800 Síguenos
        ul.mt-2.text-gray-600
          li.mt-2
            a(href='#') Facebook
          li.mt-2
            a(href='#') Twitter
          li.mt-2
            a(href='#') Instagram
    .mt-8.border-t.border-gray-300.py-4.text-center.text-gray-600
      p Derechos de autor © 2023 Byte Bus. Todos los derechos reservados.
